<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
        body {display: flex;justify-content: center;align-items: center;flex-direction: column;}
        h2 {color:red;margin-top:190px;}
        input {width:75px;height:25px;background-color:white;
            border:1px solid red;border-radius:40px;color:red;}
    </style>
    <title>Document</title>
</head>
<body>
    <h2>Please input correct credentials!</h2>

    <form action="/login" method="post">
        <input type="submit" value="Go Back">
    </form>
</body>
</html>
